@import "./reset.css";
@import "../fonts/fonts.css";


body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.hidden {
    display: none;
}

.background-block {
    width: 100%;
    height: 100%;
    background-image: url("../images/background.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17px;
}

.header {
    width: 100%;
    max-width: 1030px;
    margin-top: 46px;
    display: flex;
    justify-content: space-between;
}

.hd-logo {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    gap: 8px;
}

.hd-icon {
    width: 53px;
    height: 47px;
    fill: currentColor;
}

.logo-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo-text:first-child {
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 30px;
}

.logo-text:last-child {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
}

.hd-logo:hover {
    color: #F26522;
}

.hd-contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 19px;
}

.hd-contact-email {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.hd-contact-email:hover {
    color: #F26522;
}

.hd-contact-phone {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    align-self: flex-end;
}

.hd-contact-phone:hover {
    color: #F26522;
}

.main {
    width: 100%;
    max-width: 1030px;
}

.grid-block {
    display: grid;
    grid-template-columns: repeat(3, minmax(auto, 309px));
    grid-template-rows: repeat(2, minmax(auto, 261px));
    grid-column-gap: 54px;
    grid-row-gap: 37px;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: #FFFFFF;
}

.grid-item-photo {
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 220px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: flex-end;
    position: relative;
    overflow: hidden;
    border: 2px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(45deg, #000, #fff);
    box-sizing: content-box;
}

.description {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: currentColor;
}

.grid-item-hidden-block {
    width: 100%;
    height: 100%;
    max-height: 55px;
    background-color: #F26522;
    color: #FFFFFF;
    padding: 7px 37px 12px 14px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: absolute;
    bottom: -55px;
}

.hidden-block-left-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hidden-block-from {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: currentColor;
}

.hidden-block-price {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: currentColor;
}

.hidden-block-details {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: currentColor;
    position: relative;
}

.hidden-block-details::after {
    content: '';
    width: 7px;
    height: 7px;
    border-top: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    transform: rotate(135deg);
    position: absolute;
    right: -16px;
    bottom: 3px;
}

.grid-item:hover {
    color: #F26522;
}

.grid-item:hover .grid-item-hidden-block {
   bottom: 0;
    transition: .75s;
}

.shop-tour-photo {
    background-image: url("../images/shop-tour.webp");
}

.sseeing-tour-photo {
    background-image: url("../images/sseeing-tour.webp");
}

.food-tour-photo {
    background-image: url("../images/food-tour.webp");
}

.bar-night-photo {
    background-image: url("../images/bar-night.webp");
}

.art-photo {
    background-image: url("../images/art-photo.webp");
}

.walk-tour-photo {
    background-image: url("../images/walk-tour.webp");
}

.footer{
    width: 100%;
    max-width: 1030px;
    margin-top: 31px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.footer-info {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}